.main {
    background-image: url("../img/main_bg.jpg");
    height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.table td, table th {
    text-align: center !important;
    font-weight: bold !important;
}

.table tr:first-child {
    background-color: #211717;
}

.table th:first-child{
    color: var(--custom_6) !important;
}

.btn-selected {
    background-color: var(--custom_6) !important;
}

.btn-unselected {
    background-color: var(--custom_2) !important;
}

.escondido {
    display: none;
}