.containerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 5px 10px;
    border-radius: 4px;
    background: #D4d4d4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    margin-bottom: 2px;
}

.containerBar p {
    color: black;
    margin: 0;
    font-weight: bold;
}

.LoadingBar90 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar90:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load90 5s forwards;
}

.LoadingBar70 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar70:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load70 5s forwards;
}

.LoadingBar75 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar75:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load75 5s forwards;
}

.LoadingBar85 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar85:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load85 5s forwards;
}

.LoadingBar60 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar60:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load60 5s forwards;
}

.LoadingBar20 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar20:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load20 5s forwards;
}

.LoadingBar30 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar30:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load30 5s forwards;
}

.LoadingBar50 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar50:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load50 5s forwards;
}

.LoadingBar95 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #D4d4d4;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
}

.LoadingBar95:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load95 5s forwards;
}

@keyframes load90 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 90%;
        background: #494d5f;
    }
}

@keyframes load85 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 85%;
        background: #494d5f;
    }
}

@keyframes load75 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 75%;
        background: #494d5f;
    }
}

@keyframes load70 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 70%;
        background: #494d5f;
    }
}

@keyframes load60 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 60%;
        background: #494d5f;
    }
}

@keyframes load20 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 20%;
        background: #494d5f;
    }
}

@keyframes load30 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 30%;
        background: #494d5f;
    }
}

@keyframes load50 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 50%;
        background: #494d5f;
    }
}

@keyframes load95 {
    0% {
        width: 0;
        background: #a28089;
    }
    25% {
        width: 40%;
        background: #a0d2eb;
    }
    50% {
        width: 60%;
        background: #ffa8b6;
    }
    75% {
        width: 75%;
        background: #d0bdf4;
    }
    100% {
        width: 95%;
        background: #494d5f;
    }
}