.main {
    background-image: url("../img/errors_bg.png");
    height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}