.titillium-font {
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --custom_1: #181414;
    --custom_2: #252424;
    --custom_3: #3b3b3b;
    --custom_4: #3f3c3c;
    --custom_5: #565454;
    --custom_6: #3b3b3b;
    --custom_7: black;
    --custom_8: #252424;
    --card-border-radius: 0px !important;
    --dm-card-bg-color: #252424 !important;
    --dm-tooltip-text-color: var(--dm-base-text-color) !important;
    --dm-tooltip-bg-color: var(--dark-color) !important;
}

* {
    scrollbar-color: var(--custom_7) var(--custom_7);
}


/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--custom_7);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--custom_7);
    border-radius: 20px;
    border: 3px solid var(--custom_7);
}

.btn-xs {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.btn-orange {
    background-color: var(--custom_6) !important;
    color: white !important;
}

.btn-darkorange {
    background-color: var(--custom_2) !important;
    color: white !important;
}

.dark-mode .btn.btn-success {
    color: white !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.dark-mode .alert {
    border-radius: 0px !important;
}

.dark-mode .alert-danger {
    background-color: #a20a0a !important;
    border: none !important;
}

.dark-mode .btn-danger {
    background-color: #a20a0a !important;
    border-color: #a20a0a !important;
}

.btn-steam {
    background-color: #000000 !important;
    color: white;
}

.font-size-10 {
    font-size: 1rem !important;
}

.text-orange {
    color: #f55203 !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
}

.tippy-box[data-theme~='dark'] {
    background-color: #191c20;
    color: white;
    font-size: 0.8em !important;
    font-weight: normal !important;
    line-height: 170% !important;
}

.tippy-box[data-theme~='dark'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #191c20;
}