.main {
    background-image: url("../img/images_bg.jpg");
    height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;; 
}

.content {
    margin-top: 10px !important;
}

.escondido {
    display: none;
}